
body{
    background-color: lavenderblush;
}
.profile{
    float: right;
   
}
.hed{
    color: slateblue;
   font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: slategray ;
}