
body{
    background-color: lavenderblush;
}
   img{
       float: left;
   }
.sidebar{
    width: 350px;
    background-color: lawngreen;
}
.hed{
    color: slateblue;
   font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.sub{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: slategray ;
}