
body{
    background-image: url('bg2.png');
    
}
   img{
       float: left;
       width: 200px;
       height: 110px;
   }
.profile{
    float: inline-start;
    background-color: rgb(15, 165, 235);
    background-image: url('bg1.png');
    width: 600px;
    height: 110px;
    }
.hed{
    color: slateblue;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    border: 6px solid rgb(126, 12, 111) ;
    padding: 6px solid rgb(25, 230, 212);
    margin: 20px;
    background-color: rgb(19, 6, 20);
    width: 200px;
    height: fit-content;
}

.sub{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(194, 204, 214) ;
}
.dis{
    color: rgb(196, 188, 188);
}